/*Common Styles*/
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background-color: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
}

.btn-primary-extra {
    background-color: #FFF8F3;
}

/*Nav-bar-Styles*/
.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.orange-color {
    color: #FD6E0A;
}