/*Common Styles*/
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;

}

.btn-primary {
    background-color: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
}

.btn-primary-extra {
    background-color: #FFF8F3;
}

/*Nav-bar-Styles*/
header {
    background-color: #FFF8F3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin: 0px 50px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.orange-color {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    list-style: none;

}

nav ul a {
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    padding-right: 51px;
    /* margin-left: 2rem; */
}

.container-banner {
    height: 600px;
    padding: 20px;
    /* margin-left: 40px;
    margin-right: 40px; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.developer-pic {
    max-width: 500px;
}

.banner-content {
    width: 80%;
}

.banner-content h1 {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}

.banner-content h3 {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner-content p {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 19px;
}

#about-area {
    max-width: 1100px;
    margin: 0px auto;
    background-color: #FFF8F3;
    padding: 5px 30px 0px;
    margin-top: 91px;

}

.about-title {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.about-details-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0;
    padding: 50px;
}

.about-term {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.about-data {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

#skills_container {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;

}

.skill01,
.skill02,
.skill03,
.skill04 {
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.002),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.006),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.012),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.022),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.037),
        100px 100px 80px rgba(0, 0, 0, 0.07);
    max-width: 300px;
    max-height: 1000px
}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

#resume_section {
    text-align: center;
    margin-top: 200px;
}

.info_education>h1,
.info_experience>h1 {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    text-align: left;

}

#experience_container {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    text-align: left;
}

.degree,
.responsibilities {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.institute,
.companyName {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.experience_description,
.degree_description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

footer {
    background-color: #FFF8F3;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-heading {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
}

.connect_description {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.social_icons{
    margin-right: 24px;
}
.contact_form>label{
    display: block;
    margin-bottom: 10px;
    
}
.contact_form input[type= "text"] , input[type="email"]{
    width: 500px;
    height: 64px;
    border: none;
}